.App {
  text-align: center;
  height: 100vp;
}

.content-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.content-container-max-width {
  width: 100%;
  max-width: 1000px;
}
